@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@800&family=Roboto&display=swap');

* {
    padding: 0;
    box-sizing: border-box!important;
}

p {
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
}

nav {
    background-color: white;
}

nav a{
    color: black!important;
}

.hero-section, .about-section, .skills-section, .photoworks-section, .contact-section {
    min-height: 500px;
    position: relative;
}

.about-section, .skills-section, .photoworks-section, .contact-section {
    padding: 50px 0;
}

.hero-section .col-md-8 > .container {
    padding-left: 130px;
}

.bg-hero {
    position: relative;
    background-image: url("/assets/images/bg-hero.png");
    height: 641px;
}

#man-hero {
    position: absolute;
    bottom: 0;
    left: -100px;
}

#greeting-text-hero {
    font-size: 35px;
}

#name-text-hero, .title-section {
    font-size: 45px;
    font-family: 'Playfair Display', serif;
}

#name-text-hero {
    color: #0F7AF9;
}

.content-about {
    padding: 100px 0;
}

#about-text {
    max-width: 400px;
}

.about-section, .photoworks-section {
    background-color: #F8F8F8;
}

.skills-section > .container > p, .photoworks-section > .container > p {
    max-width: 550px;
    text-align: center;
    margin: 50px auto;
}

.item-skills {
    margin-top: 120px;
}

.item-skills > div {
    text-align: center ;
    margin-bottom: 20px;
}

.item-skills > div > p {
    margin: 15px auto;
    max-width: 100px;
}

.photoworks-section {
    padding-bottom: 100px;
}

.photoworks-section .hover-animation {
    transition: 500ms ease-out;
}

.photoworks-section .hover-animation:hover {
    filter: brightness(0.5);
    transition: 500ms ease-out;
}

.photoworks-section img {
    width: 100%;
}

.contact-section p {
    margin: 50px 0;
    width: 450px;
}

footer {
    height: 80px;
    background-color: #F8F8F8;
    text-align: center;
    line-height: 80px;
}